

.post{
    padding-bottom: 10px;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #222;
    margin: 1em 0;
    padding: 0;
}

.index-page{
    padding-bottom: 20px;
}

.bookmark-link{
    text-decoration: underline;
    text-underline-position: under;
    color: #222;
    font-family: 'Times New Roman', Times, serif;
}

.bookmark-link:hover{
    text-decoration: none;
}

.bookmark-subhead{
    color:grey
}

.bookmark-header{
    text-align: center
}

